/*
	File Name: mainstyle.css
	Author: Jayvee O. Cruz
*/

* {
	margin: 0;
	padding: 0;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: none;

	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);  /* mobile webkit */
	-moz-tap-highlight-color: rgba(255, 255, 255, 0);
	-ms-tap-highlight-color: rgba(255, 255, 255, 0);
	tap-highlight-color: rgba(255, 255, 255, 0);
}

body, html {
    height: 100%;
    background-color: #0071bc;
}

.br {
	display: none;
}

.themeColor {
	color: #0071bc;
}

.mainContainer {
	overflow: hidden;
}

.mainContainer * {
	cursor: default;
}

.background1 {
	width: 100vw;
	height: 100vh;
	background-image: url("../assets/background1.jpg");
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	display: table;
}

.tagline {
	display: table-cell;
	vertical-align: middle;
    background-color: rgba(42, 45, 52, 0.7);
}

.tagline p {
    margin: 0 0.5em;
    font-size: 4vw;
    text-shadow: 0px 0px 30px #2A2D34;
    font-family: monospace, sans-serif;
    text-align: center;
    color: #FFF;
}

.whatIDo {
	width: 100vw;
	height: 100vh;
	background-color: #0071bc;
}

.background2 {
	width: 100vw;
	height: 100vh;
	background-image: url("../assets/background2.jpg");
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	display: table;
}