/*
	File Name: mainstyle.css
	Author: Jayvee O. Cruz
*/

@font-face {
    font-family: 'CourierNew';
    src: url('../assets/CourierNew.eot');
    src: url('../assets/CourierNew.eot') format('embedded-opentype'),
         url('../assets/CourierNew.woff') format('woff'),
         url('../assets/CourierNew.ttf') format('truetype');
}

* {
	margin: 0;
	padding: 0;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: none;

	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);  /* mobile webkit */
	-moz-tap-highlight-color: rgba(255, 255, 255, 0);
	-ms-tap-highlight-color: rgba(255, 255, 255, 0);
	tap-highlight-color: rgba(255, 255, 255, 0);
}

body, html {
    height: 100%;
    background-color: #022B3A;
    display: none;
}

.title {
	font-family: CourierNew, sans-serif;
	font-weight: bold;
	font-size: 3vw;
	text-align: center;
	color: #0071bc;
	text-shadow: 0px 0px 30px #2A2D34;
	padding: 10px 0 50px 0;
	opacity: 0;

	-webkit-transform: perspective(1000px) scale(0.8);
    -moz-transform: perspective(1000px) scale(0.8);
    -ms-transform: perspective(1000px) scale(0.8);
    transform: perspective(1000px) scale(0.8);
}

.subTitle {
	font-family: CourierNew, sans-serif;
	font-weight: bold;
	font-size: 2.5vw;
	text-align: center;
	color: #0071bc;
	text-shadow: 0px 0px 30px #2A2D34;
	padding: 10px 0 50px 0;
	/*opacity: 0;*/

	-webkit-transform: perspective(1000px) scale(0.8);
    -moz-transform: perspective(1000px) scale(0.8);
    -ms-transform: perspective(1000px) scale(0.8);
    transform: perspective(1000px) scale(0.8);
}

.contentsHolder {
	display: table;
	margin: 0 auto;
}

.content {
	width: 30em;
	margin: 0 auto;
	display: table-cell;
	padding: 15px 15px 40px 15px;
	font-family: CourierNew, sans-serif;
	color: #FFF;
	text-align: center;
	opacity: 0;

	-webkit-transform: perspective(1000px) scale(0.8);
    -moz-transform: perspective(1000px) scale(0.8);
    -ms-transform: perspective(1000px) scale(0.8);
    transform: perspective(1000px) scale(0.8);
}

.contentIcon {
	width: 5em;
	height: 5em;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0 auto 20px auto;
	
	-webkit-transform: perspective(1000px);
	-moz-transform: perspective(1000px);
	-ms-transform: perspective(1000px);
	transform: perspective(1000px);
}

.contentTitle {
	text-align: center;
	padding: 0 0 20px 0;
	font-weight: bold;
	font-size: 2em;
}

.contentParagraph {
	text-align: center;
}

.contentIframe {
	width: 300px;
    height: 250px;
    border: 1px solid #FFF;
    overflow: hidden;
}

.themeColor {
	color: #0071bc;
}

#mainContainer {
	overflow: hidden;
	cursor: default;
}

.background1 {
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: url("../assets/background1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	display: table;
}

.tagline {
	display: table-cell;
	vertical-align: middle;
	background-color: rgba(42, 45, 52, 0.7);
}

.tagline #taglineParagraph {
    font-size: 4vw;
    text-shadow: 0px 0px 30px #2A2D34;
    font-family: CourierNew, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #FFF;
    opacity: 0;
    
    -webkit-transform: translate3d(0px, 30px, 0px);
    -moz-transform: translate3d(0px, 30px, 0px);
    -ms-transform: translate3d(0px, 30px, 0px);
    transform: translate3d(0px, 30px, 0px);
}

.whatIDo {
	background-color: #022B3A;
	padding: 50px 0px;
}

#monitor {
	background-image: url("../assets/monitor.png");
}

#gear {
	background-image: url("../assets/gear.png");
}

#megaphone {
	background-image: url("../assets/megaphone.png");
}

.background2 {
	position: relative;
	width: 100%;
	height: auto;
	background-image: url("../assets/background2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

#title2 {
	padding: 60px 0 50px 0;
}

.whatIUseContainer {
	width: 100%;
	height: auto;
	text-align: center;
	background-color: rgba(42, 45, 52, 0.7);
}

.wordCloudContainer {
	width: 100%;
	padding: 0 0 70px 0;
	opacity: 0;

	-webkit-transform: perspective(1000px) scale(0.8);
    -moz-transform: perspective(1000px) scale(0.8);
    -ms-transform: perspective(1000px) scale(0.8);
    transform: perspective(1000px) scale(0.8);
}

.wordCloud {
	width: 80%;
}

.creations {
	width: 100%;
	height: 100vh;
	background-color: #022B3A;
	padding: 50px 0px;
}