/*
	File Name: responsivestyle.css
	Author: Jayvee O. Cruz
*/

@media only screen and (max-width: 1024px) {
	.background1, .background2 {
		background-attachment: scroll;
	}

	.title {
		font-size: 5vw;
	}

	.tagline #taglineParagraph {
	    font-size: 5vw;
	}
}

@media only screen and (max-width: 736px) {
	.title {
		font-size: 7vw;
	}

	.content {
		width: inherit;
		display: block;
	}
}

@media only screen and (max-width: 414px) {
	.title {
		font-size: 11vw;
	}

	.tagline #taglineParagraph {
    	font-size: 13vw;
	}
}