/*
	File Name: responsivestyle.css
	Author: Jayvee O. Cruz
*/

@media only screen and (max-width: 1024px) {
	.background1, .background2 {
		background-attachment: scroll;
	}

	.tagline #taglineP {
	    font-size: 5vw;
	}
}

@media only screen and (max-width: 414px) {
	#taglinePBr {
		display: block;
	}

	.tagline #taglineP {
	    font-size: 8vw;
	}
}